body {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  line-height: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgb(95, 118, 160);
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 600px;
  height: 595px;
  background-color: #e40f0f;
  border-radius: 20px;
  box-shadow: 10px 5px 5px black;
}

#btn {
  width: 100px;
  height: 45px;
  font-size: 20px;
  margin-top: 20px;
}

.container {
  width: 550px;
  height: 550px;
  display: grid;
  border-style: solid;
}

div.gridElement {
  background-color: rgb(255, 255, 255);
}

div.painted {
  background-color: rgb(0, 0, 0);
}
